
@{
    ViewBag.Title = "APOCAN | Unsere Produkte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--md" data-overlay="4">
            <div class="background-image-holder"> <img alt="background" src="~/img/Service_1.jpeg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><b>Unsere Produkte</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon-Wine-Bottle color--primary"></i>
                            <h4><b>Cannabidiol</b></h4>
                            <hr>
                            <p> Hier finden Sie eine Auswahl an Cannabidiol.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Cannabidiol")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon-Wine-Bottle color--primary"></i>
                            <h4><b>Dronabinol</b></h4>
                            <hr>
                            <p> Hier finden Sie eine Auswahl an Dronabinol.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Dronabinol")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon-Flask color--primary"></i>
                            <h4><b>Extrakte</b></h4>
                            <hr>
                            <p> Hier finden Sie Extrakte mit verschiedenen Konzentrationen an THC und CBD.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Extrakte")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon-Leafs color--primary"></i>
                            <h4><b>Blüten</b></h4>
                            <hr>
                            <p> Hier finden Sie Blüten mit verschiedenen Konzentrationen an THC und CBD.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Bluten")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="imageblock switchable feature-large">
            <div class="imageblock__content col-lg-4 col-md-3 pos-right">
                <div class="background-image-holder"> <img alt="image" src="~/img/AdobeStock_341613348_Preview-unsereprodukte.jpg"> </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8">
                        <h2>
                            <b>Sichere Therapiealternativen für</b> Patienten
                        </h2>
                        <p class="lead">
                            APOCAN bietet den sicheren Zugang zu Medizinal Cannabis durch zertifizierten Anbau und strengen Qualitätskontrollen. Das breite Produktportfolio bietet Schmerzpatienten, Krebspatienten, HIV-Patienten und vielen mehr eine Chance auf verbesserte Lebensqualität.
                        </p>
                        <p class="lead">
                            APOCAN unterstützt Patienten in allen Lebensbereichen durch ständige Forschung und Entwicklung an innovativen Arzneimitteln. Somit können Patienten die schönen Lebensmomente genießen, so individuell wie sie sind.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-12">
                        <h2>
                            In unserem Fachbereich finden Sie als medizinisches Fachpersonal ausführliche Informationen zu unseren Produkten und rund um das Thema Medizinal-Cannabis.
                        </h2>
                        <p class="lead">
                            Dort sehen Sie eine Übersicht all unserer Produkte und können sich über fachspezifische Themen aus dem Ärzte- und Apothekenalltag informieren.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                            <i class="icon icon-Add-Bag icon--lg color--primary"></i>
                            <div class="feature__body">
                                <h5>
                                    Informationen für Apotheken
                                </h5>
                                <p>
                                    Hier finden Sie weiterführende Informationen zur Herstellung, Abgabe und Taxierung.
                                </p> <a href="@Url.RouteUrl("Login")">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                            <i class="icon icon-Doctor icon--lg color--primary"></i>
                            <div class="feature__body">
                                <h5>
                                    Informationen für Ärzte
                                </h5>
                                <p>
                                    Hier finden Sie weiterführende Informationen zu Indikationen, Verschreibungen und Begleiterhebung.
                                    <br>
                                </p> <a href="@Url.RouteUrl("Login")">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @*<section class="cover imagebg height-auto text-center parallax" data-overlay="2">
                <div class="background-image-holder"> <img alt="background" src="~/img/Home02.jpeg" /> </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8 col-lg-10">
                            <h1><b>Unser Fachbereich</b></h1>
                            <p class="lead"> Melden Sie sich jetzt in unserem Fachbereich an, um mehr Informationen zu unseren Produkten und rund um das Thema Cannabis als Medizin zu erfahren. </p>
                            <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Professionals")">
                                <span class="btn__text">
                                    DOCCHECK
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>*@
    </div>
</body>

</html>

